$base-color : #0b0c10;
$base-light: #1F2833;
$grey : #C5C6C7;
$main-light:#66FCF1;
$main-dark:#45A29E;
$temp: rgb(163, 211, 255);

@import url(https://fonts.googleapis.com/css?family=Montserrat);

body{
    font-family: 'Montserrat', sans-serif;
    padding: 0%;
    border: 0%;
    margin: 0%;
    background-color: $base-color;
    
}

.navbar{
    text-align: center;
    background-color:$base-color;
    .logoname{
        filter: invert(1);
    }
    
    .navbar-brand{
        color:whitesmoke;
        font-size: x-large;
        font-weight: bolder;
    }
    ul{
        li{
        margin: 0 5px 0 5px;
        font-weight: 300;
        
        }
    }
    .nav-link{
        color: whitesmoke;
        &:hover{
            color: $main-dark;
           
        }
    }
    
}

.resume{    
    background-color:$base-color;
    border-color: $main-light;
    border-width: 1px;
    &:hover{
        background-color: $main-dark;
    }
}

.aboutme{
    color: whitesmoke;
    .image1{
        img{
            position: relative;
            display: block;
            height: auto;
            width: 100%;
        }
    }
    .contain{
        padding: 5vh 5vw;
        text-align: center;
        h1{
            margin-top: 5vh;
        }
        p{
            font-size: 20px;
        }
        
    }
    
}

.row2{
    color: whitesmoke;
    .col1{
        text-align: center;
        h1{
            font-size: 60px;
            margin: 10px 0 50px 0;
        }
    }
    .exp1{
        position: relative;
        .inner{
            position: relative;
            p{
                margin: 3px;
                &:nth-child(4),&:nth-child(5){
                    font-size: 90%;
                    color: rgb(136, 136, 136);
                }
            }
        }
    }
}

.info1, .infox{
    position: absolute;
    align-items: right;
    top: 0.5%;
    right: 5px;
    cursor: pointer;
    height: 40px;
    width: 40px;
}

.info1{
    visibility: visible;
}

.infox{
    visibility: hidden;
    z-index: 3;
}

.clip   {
    text-align: center;
    padding: 5px;
    border-radius: 18px;
    position: absolute;
    background-color: $main-dark;
    clip-path: circle(0.1% at 96% 5%);
    transition: all .5s ease-in-out;
    z-index: 2;
    h3 span{
        font-size: 15px;
    }
    p{
        width: 100%;
        padding: 5px;
        
    }
}

.row3{
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
    margin-top: 6vw;
    color: whitesmoke;
    .col1{
        text-align: center;
        h1{
            font-size: 60px;
            margin: 10px 0 10px 0;
        }
    }
    .exp1{
        
        position: relative;
        .inner{
            position: relative;
            p{
                margin: 3px;
                &:nth-child(4),&:nth-child(5){
                    font-size: 90%;
                    color: rgb(136, 136, 136);
                }
            }
        }
    }
}