$base-color : #0b0c10;
$base-light: #1F2833;
$grey : #C5C6C7;
$main-light:#66FCF1;
$main-dark:#45A29E;
$temp: rgb(163, 211, 255);
.navbar{
    background-color:$base-color;
    .logoname{
        width: 4vw;
        height: auto;
        filter: invert(1);
    }
    
    .navbar-brand{
        color:whitesmoke;
        font-size: x-large;
        font-weight: bolder;
        margin:0 25% 0 3%;
    }
    li{
        margin:0 18px 0 18px ;
        font-weight: 300;
        
    }
    .nav-link{
        color: whitesmoke;
        &:hover{
            color: $main-dark;
            /*text-decoration: underline;
            text-decoration-color: $main-light;
            text-decoration-thickness: 2px;
            border-style: double;
            border-color: $main-light;
            border-width: 0 0 0.5px 0;*/
        }
    }
    
}

.resume{    
    background-color:$base-color;
    border-color: $main-light;
    border-width: 1px;
    &:hover{
        background-color: $main-dark;
    }
}

.temp{
    width: 100%;
    height: 90vh;
    background-color: $base-color;
}
.temp2{
     color: whitesmoke;
     text-align: center;
     p{
         font-size: calc(150% - 0.5vw);
         padding: 0 calc(10% - 0.5vw);
     }
 }


